.headline {
  width: 100%;
}
.headline__content {
  margin: 35px 15px 33px 15px;
  z-index: 1;
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 0;
}
.headline__description {
  margin-top: 24px;
  font-size: 24px;
  line-height: 34px;
}
.headline__audience_btn {
  margin-top: 30px;
  @include for-large-up {
    justify-content: left;
    margin-left: 0;
  }
}

.headline__learn-more_btn {
  color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  background-color: #fff;
  width: 158px;
  height: 48px;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}

@media screen and (max-width: 399px) {
  .headline__action-btn {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
    margin: 0;
  }
  .headline {
    display: flex;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    padding-bottom: 77px;
  }
  .headline__title {
    width: 754px;
    height: 165px;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
    margin-bottom: 0;
  }
  .headline__actions {
    margin-top: 58px;
    display: flex;
  }
  .headline__learn-more_btn {
    margin-left: 10px;
    margin-top: 0px;
  }
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.headline__actions {
  margin-top: 58px;
}
